:root {}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: hsl(0, 9%, 2%);
}



.profile {
  width: 5rem;
  border-radius: 50%;
}