:root {}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: hsl(0, 9%, 2%);
}



.profile {
  width: 88px;
  border-radius: 50%;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  width: 80%;
}

.App h1 {
  font-size: 1.5rem;
}

.col {
  padding: 5vmin 0;
}

.main__content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.links {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: .75rem;
  width: 80%;
  text-align: center;
  margin-top: 2em;
}

.links a {
  padding: 1em;
  background: #ddd;
  width: 100%;

}